* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.file-upload-wrapper {
    padding: 30px;
    border: 4px solid #c9a980;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
    transition: transform 0.3s ease; /* Adding a smooth transition effect */
}

#fileUpload {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    z-index: -1;
}
#fileUpload + label {
    background-color: #c9a980;
    color: #ffffff;
    padding: 7px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    border: none;
    transition: background-color 0.3s ease;
}
#fileUpload + label:hover{
    background-color: #766147;
}

.form-error {
    color: red;
    margin-top: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url(GrammorlyBakcgroundIMG.png);
    background-size: cover;

    background-attachment: scroll;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


.container {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
    max-width: 1200px;
}

.site-header, .site-footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #c9a980;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.main-navigation {
    text-align: right;
}

.ui-button {
    background-color: #c9a980;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #c9a980;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.ui-button:hover {
    background-color: #766147;
    border-color: #766147;
}

/* Additional styles for other elements */


.hero {
    padding: 30px 20px;
    text-align: center;

}

.hero h1 {
    margin-bottom: 20px;
    font-size: 32px;
}

.btn-primary { 
    background: #b4952d;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #a8861e;
}


.section-padding {
    padding: 20px 0;
}


.file-upload-wrapper {
    margin: 20px 0;
}

.file-upload-wrapper input[type="file"] {


    margin-bottom: 10px;
}

.btn-primary {
    background-color: #000000;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background: #766147;
}

#upload .container, #about-us .container {
    padding: 20px;
    margin-top: 20px;
}

.site-footer {
    background: #c9a980;
    color: #c9a980;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .main-navigation ul li {
        margin: 5px 5px;
    }
    .main-navigation ul li a {
        padding: 8px 12px;
    }
    .hero, .site-header, .site-footer {
        padding: 30px 20px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
}
}