aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.11.1
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.3
attrs==23.1.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.6.2
cachetools==5.3.1
celery==5.3.6
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==42.0.5
discord.py==2.3.1
distlib==0.3.7
distro==1.9.0
dnspython==2.6.1
filelock==3.12.4
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-MySQL==1.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.0
fsspec==2023.12.2
google==3.0.0
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-language==2.11.1
googleapis-common-protos==1.61.0
greenlet==2.0.2
grpcio==1.59.0
grpcio-status==1.59.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.3.5
Mako==1.2.4
MarkupSafe==2.1.3
meson==1.2.2
mpmath==1.3.0
multidict==6.0.4
moviepy==1.0.3
mysql-connector==2.2.9
mysql-connector-python==8.1.0
mysql-connector-python-rf==2.2.2
networkx==3.2.1
numpy==1.26.1
openai==1.13.3
packaging==23.2
pdfminer==20191125
pdfminer.six==20231228
Pillow==10.1.0
platformdirs==3.11.0
prompt-toolkit==3.0.43
proto-plus==1.22.3
protobuf==4.21.12
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
pygame==2.4.0
PyJWT==2.8.0
pymongo==4.6.1
PyMySQL==1.1.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rsa==4.9
safetensors==0.4.2
setuptools-metadata==0.1.5
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.21
style==1.1.0
subprocess.run==0.0.8
sympy==1.12
tika==2.6.0
tokenizers==0.15.2
toml==0.10.2
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
transformers==4.38.2
twilio==8.13.0
typing_extensions==4.7.1
tzdata==2024.1
update==0.0.1
urllib3==2.0.7
vine==5.1.0
virtualenv==20.24.5
wcwidth==0.2.13
Werkzeug==3.0.0
yarl==1.9.2
zipp==3.17.0